body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#screensaver {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: #111;
}

#dvd {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 25vh;
  width: 45vw;
  z-index: 11;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 2vh 2vw;
  gap: 2vw;
  background-image: url("/logo");
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: 2vw center;
}

#qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  gap: 0.8vh;
}

.qr-image {
  width: 9vw;
  height: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.url-text {
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
  width: 9vw;
}
